{% extends 'base.html' %} {% block head %} {% endblock %} {% block body %}
    
    <!-- CONTENT -->
    <div class="content">
      <div class="items">
        <a href="http://192.168.100.61:5000/" target="_blank">
          <img src="{{ url_for('static',filename='/images/icons/livefeed.png') }}" alt="" />
          <p>Live Feed</p>
          <div class="hover-effect">
            <img src="{{ url_for('static',filename='/images/hover_icons/livefeed.png') }}" alt="" />
          </div>
        </a>
      </div>
      <div class="items">
        <a href="/gps" target="_blank">
          <img src="{{ url_for('static',filename='images/icons/gps.png') }}" alt="" />
          <p>GPS Location</p>
          <div class="hover-effect">
            <img src="{{ url_for('static',filename='images/hover_icons/gps.png') }}" alt="" />
          </div>
        </a>
      </div>
      <div class="items">
        <a href="/earnings">
          <img src="{{ url_for('static',filename='images/icons/earnings.png') }}" alt="" />
          <p>Earnings</p>
          <div class="hover-effect">
            <img src="{{ url_for('static',filename='images/hover_icons/earnings.png') }}" alt="" />
          </div>
        </a>
      </div>
      
    </div>
    <!-- TITLE -->
    <div class="title">
      <h1><span>Vacant Seat Monitoring System</h1>
        <h3 class="title-text">Direct visualization  to commuters</h3>
			<a href="#"><button>LEARN MORE</button></a>
    </div>


    <script src="https://www.gstatic.com/firebasejs/8.4.2/firebase.js"></script>
    <script src="../static/fireConfig.js"></script>
    <script src="../static/auth.js"></script>
  
{% endblock %}

